{
  "parser": "@typescript-eslint/parser",
  "extends": ["eslint:recommended", "prettier"],
  "plugins": ["prettier"],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "env": {
    "amd": true,
    "es6": true,
    "node": true,
    "mocha": true
  },
  "rules": {
    "comma-dangle": 2,
    "semi": [2, "always"],
    "quotes": [2, "single"],
    "no-undef": 2,
    "global-strict": 0,
    "keyword-spacing": [2, { "before": true, "after": true }],
    "space-in-parens": 0,
    "no-extra-semi": 2,
    "no-underscore-dangle": 0,
    "no-console": 0,
    "no-unused-vars": 2,
    "no-trailing-spaces": [2, { "skipBlankLines": true }],
    "no-unreachable": 2,
    "no-alert": 2,
    "prettier/prettier": ["error", {
     "endOfLine":"auto"
   }]
  }
}